table {
  border: 2px solid #555555;
  border-collapse: collapse;
}
th, td {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  padding: 5px;
}
th {
	background-color: #555555;
	color: #ffffff;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ccccff;}
td:hover {background-color: #ccccff;}
